<nav class="navbar sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../../assets/owl.png" width="50" height="50" class="d-inline-block align-center" alt=""/>E-Series Dashboard</a>     
  <ul class="navbar-nav mr-auto">
  <li class="navbar-item">
    <a class="nav-link" routerLink="/main" routerLinkActive="active">Main</a>
  </li>
</ul>  
    <div ngbDropdown placement="bottom-right" class="d-inline-block">
        <a *ngIf="userName; else elseBlock" class="nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle><font color="white">{{userName}}</font></a>
        <ng-template #elseBlock><a class="nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle><font color="white">Guest</font></a></ng-template>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button *ngIf="isAdminConnected" routerLink="/admin" class="dropdown-item">Admin Page</button>
          <button class="dropdown-item" (click)="BugReport()">Bug Report</button>
        </div>
    </div>
</nav>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <a class="navbar-brand mx-auto"><font color="white" >{{CurDate}}</font></a>
  <a class="navbar-brand">
    <ng-template #tipContent  >
      <div><a><h1>Vols&Pools:</h1>יצולת האחסון בווליומים (שטח אחסון המוקצה למשתמש) תקלה פה אומרת שיש ווליום עם 100% תפוסה</a>
        <a><h1>Disks:</h1>דיסק תקול , לא מספיק ספיירים</a>
        <a><h1>FC:</h1>פרוטוקול תקשורת, תקבלה בFC, רכיב תקול</a>
        <a><h1>Hardware:</h1>חיישנים, ספקי כוח תקולים</a>
        <a><h1>Mgmt:</h1>שעון לא נכון, בעיה בתקשורת הניהול (ניהול מערכת)</a>
      </div>
        </ng-template>
    <img src="../../assets/help.png" class="d-inline-block align-center" [ngbTooltip]="tipContent" placement="top-right"/></a>  
</nav>